<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
	<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	<section name="entityFramework"
		type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
		requirePermission="false"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
	</startup>
	<appSettings>
		<clear/>
		<add key="SourceDirectory" value="E:\Tiger\TIGER2019"/>
		<add key="OutputDirectory" value="B:\TESTING\TIGER"/>
		<add key="FilePrefix" value="tl_2019_"/>
		<add key="DatabaseBatchSize" value="10000"/>
		<add key="DefaultTimeoutSeconds" value="3600"/>
	</appSettings>
	<connectionStrings>
		<add name="DefaultConnection"
			connectionString="Data Source=.;Initial Catalog=RawTigerData;Integrated Security=true;MultipleActiveResultSets=true;Connection Timeout=3600;App=GIS Parser;"
			providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
</configuration>